.city {
    border: 1px solid gray;
    margin: 1em auto;
    padding: 1em;
    width: 33%;
    border-radius: 1em;
}

.city:hover {
    box-shadow: 1px 1px 4px 1px black;
}

.searchBar {
    padding: 1%;
    width: size;
    font-size: larger;
}