.hourly {
  font-style: normal;
  width: 32.4%;
  margin: auto;
}

.hourly:hover {
  box-shadow: 1px 1px 4px 1px black;
  background-color: lightblue
}

a,
a:visited,
a:hover {
  color: black;
  text-decoration: none;
}